Options +FollowSymLinks
RewriteEngine On

# Apparently Apache thinks nuking the Authorization is ok. This forces it not
# to. Without this JWT authentication doesn't work.
# https://github.com/tymondesigns/jwt-auth/issues/81
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]
