version: '3'

services:
  koel:
    image: phanan/koel
    depends_on:
      - database
    ports:
      - 80:80
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=database
      - DB_USERNAME=koel
      - DB_PASSWORD=<koel_password>
      - DB_DATABASE=koel
    volumes:
      - music:/music
      - image_storage:/var/www/html/public/img/storage
      - search_index:/var/www/html/storage/search-indexes
      - ./sql:/docker-entrypoint-initdb.d

  database:
    image: mariadb:10.11
    volumes:
      - db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=<root_password>
      - MYSQL_DATABASE=koel
      - MYSQL_USER=koel
      - MYSQL_PASSWORD=<koel_password>

volumes:
  db:
    driver: local
  music:
    driver: local
  image_storage:
    driver: local
  search_index:
    driver: local
