version: '3'

services:
  koel:
    build:
      context: .
    container_name: 'koeldev'
    depends_on:
      - database
    ports:
      - 80:80
    env_file:
      - .env.dev
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=database
      - DB_DATABASE=koel
      - DB_USERNAME=koel
      - DB_PASSWORD=password
    volumes:
      - music:/music
      - image_storage:/var/www/html/public/img/storage
      - search_index:/var/www/html/storage/search-indexes
      - ./.env.koel:/var/www/html/.env
      - ./sql:/docker-entrypoint-initdb.d

  database:
    image: mariadb:10.11
    env_file:
      - .env.dev
    environment:
      - MYSQL_DATABASE=koel
      - MYSQL_USER=koel
      - MYSQL_PASSWORD=password
      - MARIADB_ROOT_PASSWORD=password
    volumes:
      - db:/var/lib/mysql

volumes:
  db:
  music:
  image_storage:
  search_index:
