name: Release Docker image
on:
  push:
    branches:
      - release

permissions: read-all

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run tests
        uses: ./.github/actions/test

  deploy:
    name: Deploy to Docker Hub
    runs-on: ubuntu-24.04
    needs: [test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2.1.0
        id: qemu
        with:
          platforms: linux/amd64,linux/arm64,linux/arm/v7

      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v2.2.1

      - name: Login to DockerHub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push the production image
        uses: docker/build-push-action@v3.2.0
        with:
          push: true
          tags: phanan/koel:latest,phanan/koel:7.13.0
          platforms: linux/amd64,linux/arm64,linux/arm/v7
